@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  background: oklch(0.27 0 0);
  min-height: 100vh;
  color: azure;
}

.bg-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 10px; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 8svh;
  background: linear-gradient(
    to bottom,
    #747474 0%,
    #6b6b6b 100%
  );
  z-index: 1000;
}

.black {
  min-width: 60svw;
  min-height: 20svh;
  background: linear-gradient(
    to bottom, 
    rgba(0,0,0,0.15) 0%,
    rgba(255, 255, 255, 0.273) 100% 
    ), 
    radial-gradient(
      at top center, 
      rgba(255,255,255,0.40) 0%, 
      rgba(0,0,0,0.40) 120%) 
      #989898;
  background-blend-mode: multiply,multiply;}

.light-gray-gradient {
  background: #fafafa;
  background: linear-gradient(
    40deg,
    #f3f2f0 0%,
    #cfcac4 55%,
    #9e9a95 85%
  );
  min-width: 40svw;
  min-height: 20svh;
}

.light-gray {
  min-width: 60svw;
  min-height: 20svh;
  background: #fafafa;
  background: linear-gradient(
    40deg,
    #9e9a95 0%,
    #cfcac4 55%,
    #f3f2f0 85%
  );
}
.white {
  min-width: 40svw;
  min-height: 20svh;
  background-image: linear-gradient(to top, 
  #d5d4d0 0%, 
  #d5d4d0 1%, 
  #eeeeec 31%, 
  #efeeec 75%, 
  #e9e9e7 100%);
}

.transparent {
  min-width: 45svw;
  min-height: 23svh;
  background: rgba(255, 255, 255, 0.334);
  border-radius: 5px;
  /* backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  right: 0;
}